{%- assign formatted_price = price | money -%}
{%- unless shop.money_format contains 'money' or shop.money_format contains '.' -%}
  {%- if settings.superscript_decimals -%}
    {%- if shop.money_format contains '{{amount}}' or shop.money_format contains '{{ amount }}' -%}
      {% capture formatted_price %}{{ formatted_price | replace: '.','<sup>' }}</sup>{% endcapture %}
    {%- elsif shop.money_format contains '{{amount_with_comma_separator}}' or shop.money_format contains '{{ amount_with_comma_separator }}' -%}
      {% capture formatted_price %}{{ formatted_price | replace: ',','<sup>' }}</sup>{% endcapture %}
    {%- endif -%}
  {%- endif -%}
{%- endunless -%}

{% if template.name == 'product' %}
  <span aria-hidden="true" class="grid-product__price--from product-price__compare">{{ 'products.general.from_text_html' | t: price: formatted_price }}</span>
{% else %}
   <span aria-hidden="true">{{ formatted_price }}</span>
{% endif %}

<span class="visually-hidden">{{ price | money }}</span>
