   <div class="product-single__form-price">
   {% comment %} <label class="variant__label" for="ProductPrice-{{ section_id }}">
      {{ 'cart.label.price' | t }}
    </label>{% endcomment %}
  
    {%- assign hide_sale_price = true -%}
    {%- if product.compare_at_price_max > product.price -%}
      {%- if current_variant.compare_at_price > current_variant.price -%}
        {%- assign hide_sale_price = false -%}
      {%- endif -%}
      <span
        id="PriceA11y-{{ section_id }}"
        class="visually-hidden"
        aria-hidden="{{ hide_sale_price }}">
          {{ 'products.general.regular_price' | t }}
      </span>
      <span class="product__price-wrap-{{ section_id }}{% if hide_sale_price %} hide{% endif %}">
        <span id="ComparePrice-{{ section_id }}" class="product__price product__price--compare">
          {%- if current_variant.compare_at_price > current_variant.price -%}
            {%- render 'price' with current_variant.compare_at_price -%}
          {%- endif -%}
        </span>
      </span>
      <span id="ComparePriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
    {%- else -%}
      <span id="PriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
    {%- endif -%}
  
    <span id="ProductPrice-{{ section_id }}"
      class="product__price{% if current_variant.compare_at_price > current_variant.price %} on-sale{% endif %}">
      {%- render 'price' with current_variant.price -%}
    </span>
  
    {%- if settings.product_save_amount -%}
      {%- if settings.product_save_type == 'dollar' -%}
        {%- capture saved_amount -%}{{ current_variant.compare_at_price | minus: current_variant.price | money_without_trailing_zeros }}{%- endcapture -%}
      {%- else -%}
        {%- capture saved_amount -%}{{ current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | round }}%{%- endcapture -%}
      {%- endif -%}
      <span id="SavePrice-{{ section_id }}" class="product__price-savings{% if hide_sale_price %} hide{% endif %}">
        {%- unless hide_sale_price -%}
          {{ 'products.general.save_html' | t: saved_amount: saved_amount }}
        {%- endunless -%}
      </span>
    {%- endif -%}
  
    <div class="product__unit-price product__unit-price-wrapper--{{ section_id }}{% unless current_variant.unit_price_measurement %} hide{% endunless %}">
      {%- capture unit_price_base_unit -%}
        <span class="product__unit-base--{{ section_id }}">
          {%- if current_variant.unit_price_measurement -%}
            {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
              {{ current_variant.unit_price_measurement.reference_value }}
            {%- endif -%}
            {{ current_variant.unit_price_measurement.reference_unit }}
          {%- endif -%}
        </span>
      {%- endcapture -%}
  
      <span class="product__unit-price--{{ section_id }}">
        {%- render 'price' with current_variant.unit_price -%}
      </span>/{{ unit_price_base_unit }}
    </div>
  </div>