<div class="page-width page-content">
  <div class="blog-layout">
    <div class="blog-layout__main">
    {%- paginate blog.articles by 9 -%}

      <div data-section-id="{{ section.id }}" data-section-type="blog">
        <header class="section-header{% if section.settings.blog_show_tag_filter and blog.tags.size > 0 %} section-header--with-link{% endif %}">
          <h1 class="section-header__title">
            {{ blog.title }}

            {%- if section.settings.blog_show_rss -%}
              <a href="{{ shop.url }}{{ blog.url }}.atom" class="rss-link">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-rss" viewBox="0 0 20 20"><path fill="#444" d="M5.903 16.586a2.489 2.489 0 1 1-4.977 0 2.489 2.489 0 0 1 4.977 0zM12.956 19.075H9.43c0-4.688-3.817-8.505-8.505-8.505V7.044c6.638 0 12.031 5.393 12.031 12.031z"/><path fill="#444" d="M15.445 19.075c0-8.028-6.493-14.52-14.52-14.52V.925c10.019 0 18.15 8.131 18.15 18.15h-3.63z"/></svg>
                <span class="icon__fallback-text">RSS</span>
              </a>
            {%- endif -%}
          </h1>
        </header>

        <div class="new-grid">
          {%- for article in blog.articles -%}
            {%- liquid
              assign style = 'medium'
              if forloop.first
                assign style = 'large'
              endif
            -%}
            {%- render 'article-grid-item',
              section: section,
              blog: blog,
              article: article,
              style: style,
              image_size: section.settings.blog_image_size_main -%}
          {%- endfor -%}
        </div>

        {%- liquid
          if paginate.pages > 1
            render 'pagination', paginate: paginate
          endif
        -%}
      </div>

    {%- endpaginate -%}
    </div>
    <div class="blog-layout__sidebar">
    {%- liquid
      assign hide_sidebar = true
      if section.blocks.size > 0
        assign hide_sidebar = false
      endif
      if section.settings.featured_product != blank
        assign hide_sidebar = false
      endif
      if article and section.settings.social_sharing_blog
        assign hide_sidebar = false
      endif
    -%}

    {%- if hide_sidebar -%}
      <style>
        .blog-layout__sidebar { display: none; }
      </style>
    {%- endif -%}

    {%- if article and section.settings.social_sharing_blog -%}
      <h4>{{ 'general.social.share_this' | t }}</h4>
      {%- render 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image -%}
    {%- endif -%}

    {%- if section.settings.blog_show_tags_main and blog.all_tags.size > 0 -%}
      <hr class="hr--small hr--clear">
      <h4>{{ 'blogs.article.explore_more' | t }}</h4>

      <ul class="no-bullets tag-list">
        {%- for tag in blog.all_tags -%}
          {% if tag contains "_" %}{%- assign tag_starts_with = tag | slice: 0 -%}{% if tag_starts_with == "_" %}{% if tag_count %}{%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}{% endif %}{% continue %}{% endif %}{% endif %}
          <li class="tag tag--inline">
            <a href="{{ blog.url }}/tagged/{{ tag.handle }}" class="article-tag">{{ tag }}</a>
          </li>
        {%- endfor -%}
      </ul>

      <hr class="hr--small hr--clear">
    {%- endif -%}

    <h4>{{ 'blogs.article.popular_posts' | t }}</h4>
    {%- for block in section.blocks -%}
      {%- assign article_object = articles[block.settings.article] -%}

      {%- if article_object != blank -%}
        {%- render 'article-grid-item',
          section: section,
          blog: blog,
          article: article_object,
          style: 'compact',
          image_size: section.settings.blog_image_size -%}
      {%- endif -%}
    {%- endfor -%}

    {%- if section.settings.featured_product != blank -%}
      <hr class="hr--small hr--clear">
      {%- assign product = all_products[section.settings.featured_product] -%}
      <h4>{{ 'blogs.article.featured_product' | t }}</h4>
      {%- render 'product-grid-item', product: product, no_actions: true -%}
    {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Blog pages",
    "class": "blog-layout__main",
    "settings": [
	  {
      	"type": "header",
      	"content": "Blog Page"
      },
      {
        "type": "checkbox",
        "id": "blog_show_rss",
        "label": "Show RSS link"
      },
      {
        "type": "checkbox",
        "id": "blog_show_tags_main",
        "label": "Show tags",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date_main",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_comments_main",
        "label": "Show comment count",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_author_main",
        "label": "Show author"
      },
      {
        "type": "select",
        "id": "blog_image_size_main",
        "label": "Force image size",
        "default": "wide",
        "options": [
          {
            "value": "natural",
            "label": "Natural"
          },
          {
            "value": "square",
            "label": "Square (1:1)"
          },
          {
            "value": "landscape",
            "label": "Landscape (4:3)"
          },
          {
            "value": "portrait",
            "label": "Portrait (2:3)"
          },
          {
            "value": "wide",
            "label": "Wide (16:9)"
          }
        ]
      },
	  {
      	"type": "header",
      	"content": "Blog Sidebar"
      },
	  {
        "type": "product",
        "id": "featured_product",
        "label": "Product"
      },
      {
        "type": "checkbox",
        "id": "blog_show_tags",
        "label": "Show tags",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_comments",
        "label": "Show comment count",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author"
      },
      {
        "type": "checkbox",
        "id": "social_sharing_blog",
        "label": "Show article sharing buttons",
        "default": true
      },
      {
        "type": "select",
        "id": "blog_image_size",
        "label": "Force image size",
        "default": "wide",
        "options": [
          {
            "value": "natural",
            "label": "Natural"
          },
          {
            "value": "square",
            "label": "Square (1:1)"
          },
          {
            "value": "landscape",
            "label": "Landscape (4:3)"
          },
          {
            "value": "portrait",
            "label": "Portrait (2:3)"
          },
          {
            "value": "wide",
            "label": "Wide (16:9)"
          }
        ]
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "type": "article",
        "name": "Featured article",
        "settings": [
          {
            "type": "article",
            "id": "article",
            "label": "Article"
          }
        ]
      }
    ]
  }
{% endschema %}

