<div class="product-wrapper">
	<div class="section-container">
      <div class="main-heading"><h4>{{section.settings.main-heading}}</h4>
        {% if section.settings.view-all != blank %}
        <a class="section-header__link" href="{{ section.settings.view-all-url }}">{{ section.settings.view-all }}</a>
      {% endif %}
      </div>
      <div id="product-container" class="owl-carousel owl-theme product-container">
      		{% for block in section.blocks %}
                <div class="product-cards">
                  {% if block.settings.product-image != blank%}
                  		<a href="{{block.settings.pro-link}}">
                        <img src="{{ block.settings.product-image | img_url:"master"}}" loading="lazy" alt="" width="{{ block.settings.product-image.width }}" height="{{ block.settings.product-image.height }}">
                      </a> 
                  {% endif %}
                  <div class="pro-description"><h4>{{block.settings.product-des}}</h4></div>
                </div>
      		{% endfor %}
      </div>
       
    </div>
</div>
{% schema %}
  {
    "name": "Scroll our products",
    "settings": [
 {
        "type": "text",
        "id": "main-heading",
        "label": "Section Heading",
 		"info": "Section Main Heading"
      },
{
        "type": "text",
        "id": "view-all",
        "label": "View All Text"
      },
{
        "type": "text",
        "id": "view-all-url",
        "label": "View All Link"
      }

],
  "blocks": [
    {
      "type": "image",
      "name": "Product",
      "settings": [
        {
          "type": "image_picker",
          "id": "product-image",
          "label": "PRODUCT IMAGE",
          "info": "Add product images"
        },
         {
          "type": "text",
          "id": "product-des",
          "label": "PRODUCT DESCRIPTION",
          "info": "Product name enter here."
		},
		{
          "type": "url",
          "id": "pro-link",
          "label": "PRODUCT LINK",
		  "info": "On click redirect to product page"
        }
      ]
    }
  ],
      "presets": [
      {
      "name": "Scroll our products",
      "category": "products"
      }
      ]
  }
{% endschema %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
{% javascript %}
 $("#product-container").owlCarousel({
    slideSpeed: 300,
    paginationSpeed: 400,
    margin:20,
    stagePadding: 50,
    nav: true,
    dots: false,
    loop:false,
    navRewind: false,
    autoplay: false,
    navText: [$('.am-prev'),$('.am-next')],
    autoplayTimeout: 5000,
       responsive: {
        0:{
            items:1,
            
        },
        590:{
            items:2,
            
        },
        768:{
            items:3,
            
        },
       992:{
            items:4,
            
        },
      
    },
  });
{% endjavascript %}